@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  font-family: Toss Product Sans, -apple-system, BlinkMacSystemFont,
    Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

body {
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

span {
  font-weight: bold;
  font-size: 14px;
  color: var(--color-black);
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.smallnavbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 8px 40px;
}
.smalllink {
  font-size: 12px;
  letter-spacing: -0.06px;
  color: rgba(34, 34, 34, 0.8);
  margin: 0 10px;
}
.mainnavbar {
  padding: 0 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.logo__dec {
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: -0.15px;
  font-weight: bold;
}
.mainlink {
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px;
  letter-spacing: -0.5px;
}

/* Login */
.loginForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
}
.loginlogo {
  font-size: 50px;
}
.form {
  width: 400px;
}
.inputbox {
  padding: 10px 0;
}
.input {
  display: flex;
  justify-content: flex-start;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  width: 100%;
}

button {
  width: 100%;
  background-color: #ebebeb;
  color: white;
  padding: 20px 50px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}

/* home */
.homeimg {
  width: 1200px;
  height: 800px;
}
